* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
    padding: 10px;
    justify-content: space-between;
    display: flex;
    border-bottom: solid black 1px;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    background-color: rgb(255, 255, 255);
    z-index: 1;


}
.navbar__s2,.navbar__s1,.navbar__s3{
    flex-grow: 1;
    flex-basis: 28%;
}

.navbar__s1__h1 {
    color: #9338DF;
}

.navbar__s2 {
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    display: flex;
    gap: 10px;
    width: 45%;
    align-items: center;

}

.navbar__s2 input {
    border: none;
    width: 100%;
    background-color: transparent;
}

.navbar__s2 input:focus {
    outline: none;
}

.navbar__s3 {
    display: flex;
    gap: 10px;
    align-items: center;
}

.learning {
    position: relative;
    cursor: pointer;
}

.popup {
    position: absolute;
    padding: 10px;
    height: fit-content;
    width: fit-content;
    border: solid 1px black;
    background-color: rgb(242, 249, 250);
    color: #9338DF;
    top: 150%;
    right: 0;
    display: none;
}

.learning:hover .popup {
    display: block;
}

body {
    font-family: "Merriweather", "Stack Sans Notch", "Saira Stencil", "serif";
}

.cat {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-bottom: 1px solid black;
    justify-content: space-around;
    gap: 5px;
}

.cat p {
    background-color: #9338DF;
    color: white;
    border-radius: 25px;
    padding: 10px;
    border: #9338DF solid 1px;
    cursor: pointer;
    flex-grow: 1;
    flex-basis: 11%;
    text-align: center;
    justify-content: center;
    
}

.cat p:hover {
    background-color: transparent;
    color: #9338DF;
    border: #9338DF solid 1px;
    transition: 0.5s;

}

.sale img {
    width: 100%;
}

.course__1 img,
.course__2 img,
.course__3 img,
.course__4 img {
    width: 100%;
    height: 70%;
}

.course__1,
.course__2,
.course__3,
.course__4 {
    width: 300px;
    flex-grow: 1;
    flex-basis: 20%;
    margin: 5px;
}

.course__con {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;


}


.course2__1 img,
.course2__2 img,
.course2__3 img,
.course2__4 img {
    width: 100%;
    height: 70%;
}

.course2__1,
.course2__2,
.course2__3,
.course2__4 {
    width: 300px;
    flex-grow: 1;
    flex-basis: 18%;
    margin: 5px;
}

.course2__con {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    padding: 10px;


}

.topic {
    padding: 20px;
    margin-top: 50px;
}

.topic_t1 {
    display: flex;
    flex-wrap: wrap;

}

.topic_t1 p {
    border: solid 10px grey;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 22%;
    gap: 10px;
}





.bottom__1 {
    display: flex;
    gap: 20px;
}

.bottom__2 {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
}

.bottom {
    padding: 30px;
    background-color: black;
    color: white;
    margin-top: 30px;
}

.bottom__s1 p,
.bottom__s2 p {
    margin: 30px;
}

.sale {
    position: relative;
}

.offer {
    background-color: rgb(231, 226, 211);
    color: black;
    height: fit-content;
    width: 30%;
    padding: 20px;
    position: absolute;
    top: 20%;
    left: 10%;
    text-align: center;
    border-radius: 10px;
    box-shadow: peru;
    border: solid black 1px;
    animation-name: zoom;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;

}

@keyframes zoom {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* media queries */
@media screen and (max-width:800px) {
    body {
        font-size: 10px;
    }

}

@media screen and (max-width:500px) {

    .course__1,
    .course__2,
    .course__3,
    .course__4 {
        flex-basis: 42%;

    }

    .course2__1,
    .course2__2,
    .course2__3,
    .course2__4 {
        flex-basis: 42%;
    }
    .cat {
        display: none;
        
    }
    .navbar__s2,.navbar__s1,.navbar__s3{
    flex-basis: 20%;
}

}